<h1><%= @picture.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="picture-details" id="picture-details">
        <img><%= image_tag @picture.url.url(:big) %></img>
        <div class="photo-info">
          <li>Name: <%= @picture.name %></li>
          <li>Description: <%= @picture.description %></li>
          <li>Taken by: <%= link_to @picture.user.user, user_photos_path(user_id: @picture.user.id) %></li>
          <li><%= gravatar_for(@picture.user.email) %></li>
          <br>
          <p>Reviews</p>
          <div class="thumbs-up">
            <span class="glyphicon glyphicon-thumbs-up"></span> : <%=@thumbs_ups %>
          </div>
          <div class="okay">
            <span class="glyphicon glyphicon-question-sign"></span> : <%=@okays %>
          </div>
          <div class="thumbs-down">
            <span class="glyphicon glyphicon-thumbs-down"></span> : <%=@thumbs_downs %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
