<h1><%= @picture.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="picture-details" id="picture-details">
        <img><%= image_tag @picture.url.url(:big) %></img>
        <div class="photo-info">
          <li>Name: <%= @picture.name %></li>
          <li>Description: <%= @picture.description %></li>
          <% reviews = Review.all.where(picture_id: @picture.id) %>
          <br>
          <p>Reviews</p>
          <div class="thumbs-up">
            <span class="glyphicon glyphicon-thumbs-up"></span> : <%=@thumbs_ups %>
          </div>
          <div class="okay">
            <span class="glyphicon glyphicon-question-sign"></span> : <%=@okays %>
          </div>
          <div class="thumbs-down">
            <span class="glyphicon glyphicon-thumbs-down"></span> : <%=@thumbs_downs %>
          </div>
          <br>
          <div class=comments>
            <p>Comments</p>
            <% if @has_comments %>
              <% @reviews.each do |review| %>
                <% if review.comment != "" %>
                  <%= link_to User.find(review.user_id).user, user_photos_path(user_id: review.user.id) %>: "<%=review.comment %>"<br>
                <% end %>
              <% end %>
            <% else %>
              No comments yet.
            <% end %>
          </div>
          <br>
          <form action="/mymoments/<%= @picture.id %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <input type="hidden" name="_method" value="DELETE" />
            <input type="submit" value="Delete Picture" class="btn btn-default" data-confirm="Delete the picture?" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
