<h1><%= @picture.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="picture-details" id="picture-details">
        <img><%= image_tag @picture.url.url(:big) %></img>
        <div class="photo-info">
          <li>Name: <%= @picture.name %></li>
          <li>Description: <%= @picture.description %></li>
          <% reviews = Review.all.where(picture_id: @picture.id) %>
          <% reviews.each do |review| %>
            <p>
              <% if review.rating == 1 %>
                <%= "Thumbs Up" %>
              <% elsif review.rating == 0 %>
                <%= "It's Okay" %>
              <% else review.rating == -1 %>
                <%= "Thumbs Down" %>
              <% end %>
              <%= review.comment %>
            </p>
          <% end %>
          <form action="/mymoments/<%= @picture.id %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <input type="hidden" name="_method" value="DELETE" />
            <input type="submit" value="Delete Picture" class="btn btn-default" data-confirm="Delete the picture?" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
